__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.env
.venv/
.conda/

outputs/index.json
outputs/products/*
!outputs/products/.gitkeep
outputs/internal/*
!outputs/internal/.gitkeep
outputs/runs/

inputs/incoming/*
!inputs/incoming/.gitkeep
!inputs/incoming/DEICO_DE12XXX_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE3000_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE4001_TECHNICAL_DRAWING.pdf
!inputs/incoming/DEICO_DE8103_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8104_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8105_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8113_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8114_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8115_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8123_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8124_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8125_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8133_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8134_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8135_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8201_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8202_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8203_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8204_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8205_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8206_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8207_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8208_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8211_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8212_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8213_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8214_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8215_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8216_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8217_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8218_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8221_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8222_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8223_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8224_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8225_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8226_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8227_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8228_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8232_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8233_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8234_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8235_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8236_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8237_Technical_Drawing.pdf
!inputs/incoming/DEICO_DE8238_Technical_Drawing.pdf
